In [1]:
import pandas as pd

In [4]:
df=pd.read_csv(r"C:\Users\Admin\MSc app spu\csv file\One_sample_t_test.csv")

In [6]:
df.head()

   number of student  Height
0                  1     5.5
1                  2     6.1
2                  3     6.0
3                  4     5.5
4                  5     5.1

In [15]:
data=df["Height"]

In [8]:
mu=5.5

Null Hypothesis (H0): The null hypothesis of the one-sample t-test states that there is no significant difference between the mean of the sample data and a specified population mean.

Ho: ⴎ=5.5 Average height of student is  5.5

Alternative Hypothesis (H1): The alternative hypothesis suggests that there is a significant difference between the mean of the sample data and the specified population mean.

H1: ⴎ≠5.5 Average height of student is not 5.5

In [9]:
from scipy import stats

In [16]:
t_statistic ,p_value=stats.ttest_1samp(data,mu)

The t-statistic is a measure of how many standard errors the sample mean is away from the specified population mean under the null hypothesis. 

A larger absolute value of the t-statistic indicates a greater difference between the sample mean and the population mean.

In [17]:
print("T-statistic:", t_statistic)

T-statistic: 0.9092539601027376

The p-value is the probability of observing the given sample data if the null hypothesis is true. It represents the evidence against the null hypothesis. A smaller p-value indicates stronger evidence against the null hypothesis.

In [18]:
print("P-value:", p_value)

P-value: 0.3722572178984286

In [19]:
alpha=0.05

In [21]:
if alpha<p_value :
    print("Fail to reject null hypothesis")
else:
    print("Reject null hypothesis")

Fail to reject null hypothesis